@import "tailwindcss";

@theme {
    --color-vue: #42b883;
    --color-vue-dark: #35495e;
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
}

body {
    font-family: var(--font-sans);
    background-color: #ecfdf5;
    /* Emerald 50 - Minty Fresh */
    color: #1f2937;
}

/* Custom Scrollbar for code blocks */
pre::-webkit-scrollbar {
    height: 8px;
}

pre::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

pre::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}